{% extends "showreel/parent.njk" %}
{% block page %}

  <!-- Hidden data elements -->
  <div class='row top'>
    <p id='slugList' hidden="hidden">{{ slugList }}</p>
    <p id='noteList' hidden="hidden">{{ noteList }}</p>
    <p id='highestElement' hidden="hidden">{{ highestElement }}</p>
    <!-- Loop to iterate through script elements and display type -->
    {% for i in range(0, script.length) %}
      <p id='type_{{ i }}' hidden="hidden">{{ script[i].type }}</p>
    {% endfor %}
    <div class="col-md-12" id='message' hidden="hidden" style='background:white; text-align: center; color:red;'>
      <br><br><br>
      <h1 style='color:red;'>Processing... Please wait.</h1>
      <br><br><br>
    </div>
  </div>

  <br><br>
  <div class='row' id='main'>
    <div class='col-md-2'>
      {% if sceneNumber > 0 %}
        <button id='btn-previous-element'>
          Previous Element
        </button>
      {% endif %}
    </div>
    <div class='col-md-2'>
      <button id='btn-next-element'>
        Next Element
      </button>
    </div>
    <div class='col-md-1'></div>
    <div class='col-md-2'>
      <button id="play-pause">Play Sound/Pause Sound</button>
    </div>
    <div class='col-md-1'></div>
    <div class='col-md-2'>
      {% if sceneNumber > 0%}
        <button id='btn-previous-scene'>
          Previous Scene
        </button>
      {% endif %}
    </div>
    <div class='col-md-2'>
      <button id='btn-next-scene'>
        Next Scene
      </button>
    </div>
  </div>

  <br>
  <div 2="2" class='row' id='main'>
    <div class='col-md-5' id='col-vision'>
      {% if element.type === 'movie' %}
        <video width='420' height='240' controls='controls' autoplay='autoplay' id='image_{{ i }}' class='image'>
          <source src='../data/{{ title }}/vision/images/{{ element.image }}' type='video/mp4'>
        </video>
      {% elseif element.type === 'still' %}
        <img width='420' height='240' src='../data/{{ title }}/vision/images/{{ element.image }}' id='image_{{ i }}' class='img' alt='{{ script[i].image }}'>
      {% else %}
        <h2 class='data-showreel'>NO IMAGE</h2>
      {% endif %}
    </div>
    <!-- end of col-vision-->

    <div class='col-md-5' id='col-sound' style='background: white; color: black; height: 240px; overflow: auto;'>
      <div class='fox-speaker' style='margin-left: 30px;'>
        <!-- Display sound controls or message if sound generation failed -->
        {% if element.sound %}
          <div id="master-play" style="width: 100%;"></div>
        {% elseif msg === 'Failed' %}
          <h5 class='data-showreel' style='text-align: center;'>Sound generation failed</h5>
        {% else %}
          <h5 class='data-showreel' style='text-align: center;'>NO SOUND</h5>
        {% endif %}
      </div>

      {% if element.character === 'NARRATOR' %}
        <p style='text-align: center; font-weight: bold;'></p>
        <p>{{ element.dialogue }}</p>
      {% else %}
        <p style='text-align: center; font-weight: bold;'>{{ element.character }}</p>
        {% if element.parenthetical %}
          <p style='text-align: center;'>({{ element.parenthetical }})</p>
        {% endif %}
        <p>{{ element.dialogue }}</p>
      {% endif %}
    </div>

    <div class='col-md-2' id='col-note'>
      NOTE:<br>
      <textarea id="input-note" name="note" rows="12" cols="20">{{ note }}</textarea>
    </div>
  </div>
  <!-- end of row (main) -->

  <div class='row' id='row-submain'>
    <div class='col-md-5'>
      {{ element.image }}
      <button class='btn-change' id='change_{{ i }}' value='{{ i }}'>
        Change Image
      </button>
    </div>
    <div class='col-md-5'>
      Voice:
      {{ element.voice }}
      {% if audio %}
        <button class='btn-del' id='del_{{ elementNumber }}' value='{{ element.sound }}'>
          Delete
          {{ element.sound }}
        </button>
      {% else %}
        {% if element.voice %}
          <button class='btn-gen' id='gen_{{ elementNumber }}'>
            Generate
          </button>
        {% else %}
          <button disabled="disabled">
            &nbsp;
          </button>
        {% endif %}
      {% endif %}
    </div>
    <div class='col-md-2'></div>
  </div>
  <br><br>
  {% include "./shot-list.njk" %}
  <br><br>

  <div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-10'>
      <button class="accordion">Scene Breakdown</button>
      <div class="panel">
        {% for i in range(0, breakdown.length) %}
          <h1>{{breakdown[i][0]}}</h1>
          {% for j in range(1, breakdown[i].length) %}
            {{breakdown[i][j]}}<br>
            {%endfor%}
          {% endfor %}
        </div>
      </div>
      <div class='col-md-1'></div>
    </div>

    <!-- Include scripts -->
    <script>
      $(document).ready(function () {
        // Create a new Howler.js sound instance
        let sound = new Howl({
          src: ['{{ audio }}'],
          html5: true,
          format: ['ogg', 'mp3']
        });

        // Play/Pause button functionality
        $('#play-pause').click(function () {
          if (sound.playing()) {
            sound.pause();
          } else {
            sound.play();
          }
        });
      });

      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
          this
            .classList
            .toggle("active");

          /* Toggle between hiding and showing the active panel */
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }
    </script>
    <script src='../js/showreel/parent.js'></script>
    <script src='../js/showreel/showreel.js'></script>
  {% endblock %}